.navbar-brand{
	padding: 10px;
}
.navbar {
	box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}
.bs-example{
	padding: 4px;
}

#iframe, .iframe {
	width: 100%;
	height: 100%;
	border: none;
	position: absolute;
	padding-bottom: 60px;
	#z-index: 1;
	top:0px;
}

.body {
	background-color: #cdcdcd !important;
	margin: 1px 8px;
	padding: 10px;
	border: 1px solid green;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
	border-radius: 8px;
	#position: absolute;
	height: 100%;
	bottom: 0px;
	bottom: 40px;
	position: ;
	overflow: auto;
}
.dropdown-menu{
	#z-index: 5;
}
.left{
	background-color: #fff !important;
	margin: 1px 8px;
	padding: 1px 8px;
	float: left;
	border: 1px solid gray;
	box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
}
.left img{
	float: left;
	width: 250px;
}
.left p{
	text-align: center;
	border: none;
	box-shadow: none;
}
.left div{
	border: none;
	box-shadow: none;
}
.left ul{
	margin-left: 230px;
}
article.left{
	border: none;
	box-shadow: none;
	width: 250px;
}

.left img:hover{
	border: 1px solid gray;
	box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
}
.green{
	color: green;
}

.right{
	background-color: #fff !important;
	margin: 1px 8px;
	padding: 1px 8px;
	float: left;
	width: 550px;
	border: 1px solid gray;
	box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
}
article.right{
	border: none;
	box-shadow: none;
	width: 250px;
}


.footer {
	background-color: #2196f3 !important;
	position: fixed;
	bottom: 0px;
	width:100%;
}
footer.page-footer .footer-copyright {
	background-color: #2196f3 !important;
	color: rgba(255,255,255,.6);
	font-family: Roboto,sans-serif;
	font-size: .9rem;
	font-weight: 300;
	overflow: hidden;
	padding-bottom: 1rem !important;
	padding-top: 1rem !important;
	text-align: center !important;
}
.footer-copyright p{
	color: rgba(255,255,255,.6);
}
.footer-copyright a{
	color: white;
}

img.thumbnail {
	width: 150px;
	float: left;
	padding: 10px;
	margin: 5px;
}
img.thumbnail:hover{
	border: 1px solid gray;
	box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
}

img.large {
	width: 450px;
	float: none;
	padding: 10px;
	margin: 5px;
}
.detail {
	padding: 10px;
	color: rgb(109,128,146);
	#font-family: Roboto,sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.details {
	padding: 10px;
	color: rgb(109,128,146);
	#font-family: Roboto,sans-serif;
	font-size: 18px;
	font-weight: bold;
}

th {
	text-align:center;
}
.table th{
	background-color: rgb(86, 61, 124) !important;
	color: white;
}

@media (min-width: 1200px) {
	.header{
		width: 1200px;
	}
	.body{
		width: 1190px;
	}
	.footer{
		width: 1200px;
	}
	.left{
		width: 590px;
	}
	.right{
		width: 540px;
	}
}
@media (max-width: 1200px) {
	.left{
		width: 99%;
	}
	.right{
		width: 99%;
	}
}
@media (max-width: 992px) {
	.left{
		width: 99%;
	}
	.right{
		width: 99%;
	}
}
@media (max-width: 768px) {
	.left{
		width: 99%;
	}
	.right{
		width: 99%;
	}
}
@media (max-width: 576px) {
	.right {
		width: 98%;
	}
	.left{
		width: 99%;
	}
	.right{
		width: 99%;
	}
}
